body {
	background-color: orange;
}

header {
	text-align: center;
}

.content {
	border: 1px dotted red;
    display: flex;
    justify-content: center;
}

/* Current date */
.currentDate {
    display: inline;
    font-size: 20px;
    text-align: start;
    width: 100px;
    height: 50px;
}

.randombtns {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.infoContainer {
    width: 75%;
}

.infoBox {
	width: 85%;
	border: 1px dotted purple;
}
